<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Zone</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/favicon.jpg" type="image/x-icon">
    <!--Bootstrap css Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <!-- First Layer -->
    <section class="FirstLayer">
        <div class="container">
            <div class="row FirstLayerFirstRow">
               <div class="col col-lg-3 col-sm-6 col-md-6">
                <img src="../images/logo.png" class="img-fluid" alt="Logo_Img">
               </div>
            </div>

            <div class="row">
                <p style="text-align: center;">The Best Free Movie Download Site For Mobile, Tablets and PC</p>
            </div>
        </div>
    </section>

    <div class="GreyLayer">
        <span>Please bookmark our New HD Url:</span>
        <span><a href="#">https://www.coolmoviez.shop</a></span>
    </div>



    


    <!-- Second Layer -->
    <section class="SecondLayer">

        <div class="row lightBlue">
            <span>Search Movie :</span><input type="text"><button type="search">Search</button>
        </div>
       
        <div class="row Pink bg-light">
           <span style="text-align: center; cursor: pointer;">HD Movie Download from World Best Websites</span>
         </div>

     </section>
 
 


     <!-- CATEGORY HEADER -->

     <h3 style="text-align: center; background-color: #666; color: white; font-weight: 600;">Action</h3>


     <!-- THIS CATEGORY CARDS -->

     <div class="container-fluid">
             
            <div class="row CategoryCard">
                <div class="col col-sm-2 col-lg-1 col-md-2 CardImg">
                    <img src="../images/Categories Img/Action/demoimg1.jpg" class="img-fluid" alt="No_IMG">
                </div>

                <div class="col col-sm-10 col-md-10 col-lg-11 CardContent">
                    <a href="/movie">Zoombies 2 (2019) Hindi Dubbed Movie</a>
                    <span>Source: HDRIP</span>
                </div>

            </div>

            <div class="row CategoryCard">
                <div class="col col-sm-2 col-lg-1 col-md-2 CardImg">
                    <img src="../images/Categories Img/Action/demoimg2.jpg" class="img-fluid" alt="No_IMG">
                </div>

                <div class="col col-sm-10 col-md-10 col-lg-11 CardContent">
                    <a href="/movie">Zoombies 2 (2019) Hindi Dubbed Movie</a>
                    <span>Source: HDRIP</span>
                </div>

            </div>

            <div class="row CategoryCard">
                <div class="col col-sm-2 col-lg-1 col-md-2 CardImg">
                    <img src="../images/Categories Img/Action/demoimg1.jpg" class="img-fluid" alt="No_IMG">
                </div>

                <div class="col col-sm-10 col-md-10 col-lg-11 CardContent">
                    <a href="/movie">Zoombies 2 (2019) Hindi Dubbed Movie</a>
                    <span>Source: HDRIP</span>
                </div>

            </div>


            <div class="row CategoryCard">
                <div class="col col-sm-2 col-lg-1 col-md-2 CardImg">
                    <img src="../images/Categories Img/Action/demoimg2.jpg" class="img-fluid" alt="No_IMG">
                </div>

                <div class="col col-sm-10 col-md-10 col-lg-11 CardContent">
                    <a href="/movie">Zoombies 2 (2019) Hindi Dubbed Movie</a>
                    <span>Source: HDRIP</span>
                </div>

            </div>


            
            <div class="row CategoryCard">
                <div class="col col-sm-2 col-lg-1 col-md-2 CardImg">
                    <img src="../images/Categories Img/Action/demoimg1.jpg" class="img-fluid" alt="No_IMG">
                </div>

                <div class="col col-sm-10 col-md-10 col-lg-11 CardContent">
                    <a href="/movie">Zoombies 2 (2019) Hindi Dubbed Movie</a>
                    <span>Source: HDRIP</span>
                </div>

            </div>

            <div class="row CategoryCard">
                <div class="col col-sm-2 col-lg-1 col-md-2 CardImg">
                    <img src="../images/Categories Img/Action/demoimg2.jpg" class="img-fluid" alt="No_IMG">
                </div>

                <div class="col col-sm-10 col-md-10 col-lg-11 CardContent">
                    <a href="/movie">Zoombies 2 (2019) Hindi Dubbed Movie</a>
                    <span>Source: HDRIP</span>
                </div>

            </div>

            <div class="row CategoryCard">
                <div class="col col-sm-2 col-lg-1 col-md-2 CardImg">
                    <img src="../images/Categories Img/Action/demoimg1.jpg" class="img-fluid" alt="No_IMG">
                </div>

                <div class="col col-sm-10 col-md-10 col-lg-11 CardContent">
                    <a href="/movie">Zoombies 2 (2019) Hindi Dubbed Movie</a>
                    <span>Source: HDRIP</span>
                </div>

            </div>


            <div class="row CategoryCard">
                <div class="col col-sm-2 col-lg-1 col-md-2 CardImg">
                    <img src="../images/Categories Img/Action/demoimg2.jpg" class="img-fluid" alt="No_IMG">
                </div>

                <div class="col col-sm-10 col-md-10 col-lg-11 CardContent">
                    <a href="/movie">Zoombies 2 (2019) Hindi Dubbed Movie</a>
                    <span>Source: HDRIP</span>
                </div>

            </div>




     </div>





     <!-- End View Of Category Page -->

     <div class="Pagebox">
          <!--Pagunation-->
          <span class="name">Pages (1/154) :</span>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
     </div>




     <div class="LastCategoryBox">

          <div class="Boxx1">
            <a href="/">Home</a>
            <i class="fa fa-home" aria-hidden="true"></i>   
         </div>

         <div class="Boxx2">
            <span aria-hidden="true">&laquo;</span>
            </a><a href="/">Go Back</a>
         </div>

        </div>










    <!-- Footer Design -->

    <footer class="footerGrey">
        <p>Powered by © CooLmovieZ.shop 2021</p>
    </footer>












<!--Bootstrap js Link -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>    
</body>
</html>