<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Zone</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./images/favicon.jpg" type="image/x-icon">
    <!--Bootstrap css Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <!-- First Layer -->
    <section class="FirstLayer">
        <div class="container">
            <div class="row FirstLayerFirstRow">
               <div class="col col-lg-3 col-sm-6 col-md-6">
                <img src="./images/logo.png" class="img-fluid" alt="Logo_Img">
               </div>
            </div>

            <div class="row">
                <p style="text-align: center;">The Best Free Movie Download Site For Mobile, Tablets and PC</p>
            </div>
        </div>
    </section>

    <div class="GreyLayer">
        <span>Please bookmark our New HD Url:</span>
        <span><a href="#">https://www.coolmoviez.shop</a></span>
    </div>










    <!-- Second Layer -->
    <section class="SecondLayer">
       <div class="row Grey">
          <span>Upcoming Movies</span>
       </div>

       <div class="row Pink bg-light">
          <span>HD Movie Download from World Best Websites</span>
        </div>

        <div class="row Grey">
        <span>Movie By Genere</span>
        </div>

        <div class="row CategoryArea">
            <div class="col-sm-12 col-lg-12 col-md-12">
            <a href="/action">Action</a> |
            <a href="./adventure">Adventure</a> |
            <a href="/action">Thriller</a> |
            <a href="/action">Crime</a> |
            <a href="/action">Romance</a> |
            <a href="/action">Drama</a> |
            <a href="/action">Horror</a> |
            <a href="/action">Music</a> |
            <a href="/action">Sci-fi</a> |
            <a href="/action">Fantasy</a> |
            <a href="/action">B-grade</a> |
            <a href="/action">Erotic</a> |
            <a href="/action">Animation</a> |
            <a href="/action">Cartoon</a> |
        </div>
     </div>


        <div class="row lightBlue">
            <span>Search Movie :</span><input type="text"><button type="search">Search</button>
        </div>

        <div class="row Grey MyGrey">
            <span>=: Daily Updated Movies :</span>
         </div>
    </section>





    <!-- Third Layer -->
    <section class="ThirdLayer">
      

        <div class="FilmBox">
            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i> The Enchanting Phantom (2020) Hollywood Hindi Dubbed Movie Added in - <span>WEB-DL </span>Added in - HD MP4</a>
        </div>

        <div class="FilmBox">
            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i> The Enchanting Phantom (2020) Hollywood Hindi Dubbed Movie Added in - <span>WEB-DL </span>Added in - HD MP4</a>
        </div>

        <div class="FilmBox">
            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i> The Enchanting Phantom (2020) Hollywood Hindi Dubbed Movie Added in - <span>WEB-DL </span>Added in - HD MP4</a>
        </div>

        <div class="FilmBox">
            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i> The Enchanting Phantom (2020) Hollywood Hindi Dubbed Movie Added in - <span>WEB-DL </span>Added in - HD MP4</a>
        </div>

        <div class="FilmBox">
            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i> The Enchanting Phantom (2020) Hollywood Hindi Dubbed Movie Added in - <span>WEB-DL </span>Added in - HD MP4</a>
        </div>

        <div class="FilmBox">
            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i> The Enchanting Phantom (2020) Hollywood Hindi Dubbed Movie Added in - <span>WEB-DL </span>Added in - HD MP4</a>
        </div>

        <div class="FilmBox">
            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i> The Enchanting Phantom (2020) Hollywood Hindi Dubbed Movie Added in - <span>WEB-DL </span>Added in - HD MP4</a>
        </div>

        <div class="FilmBox">
            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i> The Enchanting Phantom (2020) Hollywood Hindi Dubbed Movie Added in - <span>WEB-DL </span>Added in - HD MP4</a>
        </div>

        <div class="FilmBox">
            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i> The Enchanting Phantom (2020) Hollywood Hindi Dubbed Movie Added in - <span>WEB-DL </span>Added in - HD MP4</a>
        </div>

        <div class="FilmBox">
            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i> The Enchanting Phantom (2020) Hollywood Hindi Dubbed Movie Added in - <span>WEB-DL </span>Added in - HD MP4</a>
        </div>

        <div class="FilmBox">
            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i> The Enchanting Phantom (2020) Hollywood Hindi Dubbed Movie Added in - <span>WEB-DL </span>Added in - HD MP4</a>
        </div>

        <!--Pagunation-->
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>

    </section>






    <!-- Fourth Layer -->

    <section class="FourthLayer">
       <div class="FourthHeader">
        =: Full Movies Menu :=
       </div>

       <div class="white"><a href="#">Indian Hot Web Series</a></div>
       <div class="lightred"><a href="#">Hindi Web Series</a></div>
    
       <div class="white"><a href="#">Bollywood Movies</a></div>
       <div class="lightred"><a href="#">Hollywood Movies</a></div>
       
       <div class="white"><a href="#">South Indian Hindi Dubbed Movies</a></div>
       <div class="lightred"><a href="#">Hollywood Hindi Dubbed Movies</a></div>
       
       <div class="white"><a href="#">Indian B-Grade Movies</a></div>
       <div class="lightred"><a href="#">Hindi Dubbed English Movies - Full Series</a></div>
       
       <div class="white"><a href="#">Cartoon Hindi Dubbed Movies</a></div>
       <div class="lightred"><a href="#">Bollywood Old Movies</a></div>
       
       <div class="white"><a href="#">Privacy Policy <span style="color: black;">[Must Read]</span></a></div>


    </section>






    <!-- Fifth Layer -->
    <div class="FifthLayer">
        <div class="TagsHolder">
            <p><span style="font-weight: bolder;">Tags: </span> Downloads, Mobile, Movies, Hindi, Dubbed, Bollywood Movies, Hollywood Movies, Hollywood Movies Dubbed In Hindi, Latest Movies, HD, CoolMoviez, Coolmoviez.live, Coolmoviez.net, coolmoviez.mobi, hindi full movie, mp4 movies download, hindi movie, mp4 mobile movies, mp4hdmovies, latest movies download, mp4 movies free download, hd mp4 mobile movies, bollywood movies download hd mp4, mycoolmoviez, coolmoviez 2021, coolmoviez.xyz</p>
        </div>
    </div>









    <!-- Footer Design -->

    <footer class="footerGrey">
        <p>Powered by © CooLmovieZ.shop 2021</p>
    </footer>












<!--Bootstrap js Link -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>    
</body>
</html>